.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; 
  background-color: #f1f1f1;
  border-top: 1px solid #e7e7e7;
  color: #555;
  font-size: 0.9rem;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-weight: 600;
  transition: text-decoration 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
}